.footer-element1{

    background-color: #535252;
    color: black;
    width:80rem;
    margin-left: 10rem;
    padding: 20px;
    text-align: center;
}
.footer-element2{
    color: black;
    width:80rem;
    margin-left: 10rem;
    padding: 20px;
    text-align: center;
}