
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
    margin: 0%;
    padding: 0%;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80rem;
    margin-left: 20rem;
}
.Nav ul{
    display: flex;
    
    align-items: center;
    list-style: none;
    
    width:80rem;
   padding: 10px;
}
.Nav ul li{
    padding: 20px 6rem;
    
    background-color: rgb(165,161,158);
    text-align: center;
}
#first{
    color: white;
    background-color: rgb(151,32,72);
}
.Nav ul li:hover{
    background-color: rgb(151,32,72);
    color: white;
}